Repository moshell-lang/moshell, pull requests merged in 2023-08, with the labels that each got.

#134 Add panic mechanism to VM, with optional source lines mappings.
  cli/lang_tests/errors/divide_by_zero.msh
  cli/src/cli.rs
  cli/src/disassemble.rs
  cli/src/pipeline.rs
  cli/src/repl.rs
  compiler/Cargo.toml
  compiler/src/bytecode.rs
  compiler/src/constant_pool.rs
  compiler/src/emit.rs
  compiler/src/lib.rs
  context/src/source.rs
  vm/benches/exec_benchmark.rs
  vm/binding/lib.rs
  vm/src/byte_reader.h
  vm/src/definitions/function_definition.h
  vm/src/definitions/loader.cpp
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/call_stack.cpp
  vm/src/memory/call_stack.h
  vm/src/memory/nix.cpp
  vm/src/memory/nix.h
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/vm.cpp
  vm/src/vm.h
Labels: compiler, VM

#135 Remember previous prompts in the REPL
  README.md
  analyzer/src/diagnostic.rs
  analyzer/src/environment.rs
  analyzer/src/imports.rs
  analyzer/src/lib.rs
  analyzer/src/relations.rs
  analyzer/src/steps.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/typing.rs
  analyzer/src/types/engine.rs
  cli/lang_tests/errors/divide_by_zero.msh
  cli/lang_tests/flow/closure.msh
  cli/src/cli.rs
  cli/src/main.rs
  cli/src/pipeline.rs
  cli/src/repl.rs
  cli/src/report.rs
  compiler/src/emit.rs
  compiler/src/emit/identifier.rs
  compiler/src/lib.rs
  vm/Cargo.toml
  vm/benches/exec_benchmark.rs
  vm/binding/lib.rs
  vm/src/byte_reader.h
  vm/src/definitions/pager.cpp
  vm/src/definitions/pager.h
  vm/src/interpreter.cpp
  vm/src/vm.cpp
  vm/src/vm.h
Labels: analyzer, VM, cli

#137 remove inclusion path and type arguments from command calls
  analyzer/src/steps/collect.rs
  ast/src/call.rs
  parser/src/aspects/binary_operation.rs
  parser/src/aspects/call.rs
  parser/src/aspects/detached.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/group.rs
  parser/src/aspects/if_else.rs
  parser/src/aspects/lambda_def.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/match.rs
  parser/src/aspects/redirection.rs
  parser/src/aspects/substitution.rs
  parser/src/aspects/test.rs
  parser/src/aspects/type.rs
  parser/src/aspects/var_declaration.rs
  parser/tests/err.rs
  parser/tests/expr.rs
  parser/tests/with_lexer.rs
Labels: parser

#136 Handle unmatched delimiters at lexer level
  cli/Cargo.toml
  cli/src/repl.rs
  lexer/src/delimiter.rs
  lexer/src/lexer.rs
  lexer/src/lib.rs
  lexer/tests/sample.rs
  parser/src/aspects/call.rs
  parser/src/aspects/expr_list.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/group.rs
  parser/src/aspects/literal.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/match.rs
  parser/src/aspects/substitution.rs
  parser/src/aspects/test.rs
  parser/src/aspects/type.rs
  parser/src/aspects/var_declaration.rs
  parser/src/aspects/var_reference.rs
  parser/src/cursor.rs
  parser/src/err.rs
  parser/src/moves.rs
  parser/src/parser.rs
  parser/tests/err.rs
Labels: parser

#139 Introduce reefs on parser side
  analyzer/src/steps/collect.rs
  analyzer/src/types/ctx.rs
  ast/src/call.rs
  ast/src/type.rs
  ast/src/use.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  parser/src/aspects/call.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/group.rs
  parser/src/aspects/lambda_def.rs
  parser/src/aspects/modules.rs
  parser/src/aspects/type.rs
  parser/src/aspects/var_declaration.rs
  parser/src/aspects/var_reference.rs
  parser/src/cursor.rs
  parser/src/lib.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/expr.rs
Labels: parser
