Repository moshell-lang/moshell, pull requests merged in 2023-07, with the labels that each got.

#123 Make the parser more predictable
  ast/src/operation.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  lexer/tests/sample.rs
  parser/src/aspects/binary_operation.rs
  parser/src/aspects/call.rs
  parser/src/aspects/redirection.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/expr.rs
  parser/tests/with_lexer.rs
Labels: bugfix, parser

#120 Add function invocations to VM
  analyzer/src/environment/variables.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/types.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/ty.rs
  cli/src/cli.rs
  compiler/Cargo.toml
  compiler/src/bytecode.rs
  compiler/src/constant_pool.rs
  compiler/src/emit.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/jump.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  compiler/src/locals.rs
  compiler/src/type.rs
  vm/CMakeLists.txt
  vm/src/byte_reader.cpp
  vm/src/byte_reader.h
  vm/src/conversions.h
  vm/src/definitions/bytecode_unit.h
  vm/src/definitions/function_definition.h
  vm/src/definitions/module_definition.cpp
  vm/src/errors.cpp
  vm/src/errors.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/call_stack.cpp
  vm/src/memory/call_stack.h
  vm/src/memory/constant_pool.cpp
  vm/src/memory/constant_pool.h
  vm/src/memory/locals.cpp
  vm/src/memory/locals.h
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/memory/strings.h
  vm/src/vm.cpp
  vm/src/vm.h
Labels: compiler, VM

#124 Import multiple files
  analyzer/src/diagnostic.rs
  analyzer/src/engine.rs
  analyzer/src/importer.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/diagnostics.rs
  analyzer/src/steps/shared_diagnostics.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/types/ty.rs
  cli/build.rs
  cli/src/cli.rs
  cli/src/main.rs
  cli/src/pipeline.rs
  cli/src/repl.rs
  cli/src/report.rs
  context/src/source.rs
Labels: enhancement, analyzer

#127 Add native functions invocation support
  cli/src/disassemble.rs
  compiler/src/bytecode.rs
  compiler/src/emit.rs
  compiler/src/emit/native.rs
  vm/CMakeLists.txt
  vm/src/definitions/bytecode_unit.h
  vm/src/definitions/module_definition.cpp
  vm/src/errors.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/constant_pool.cpp
  vm/src/memory/constant_pool.h
  vm/src/memory/locals.h
  vm/src/memory/operand_stack.h
  vm/src/memory/strings.cpp
  vm/src/memory/strings.h
  vm/src/stdlib_natives.cpp
  vm/src/stdlib_natives.h
  vm/src/vm.cpp
Labels: compiler, VM

#128 Fix symbol capture in collection phase
  analyzer/src/engine.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
Labels: bugfix

#130 Automatically test the VM implementation
  Cargo.toml
  cli/Cargo.toml
  cli/lang_tests/flow/break_loop.msh
  cli/lang_tests/flow/function_call.msh
  cli/lang_tests/redir/file_redirection.msh
  cli/lang_tests/redir/pipeline_exit.msh
  cli/lang_tests/redir/pipeline_text.msh
  cli/lang_tests/redir/silent_sigpipe.msh
  cli/lang_tests/run.rs
  cli/src/cli.rs
  vm/Cargo.toml
  vm/benches/exec_benchmark.rs
  vm/binding/lib.rs
  vm/build.rs
Labels: VM

#131 Load and store external symbols
  analyzer/src/engine.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/typing.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  cli/lang_tests/import/foo_consumer.msh
  cli/lang_tests/import/foo_lib.msh
  cli/src/disassemble.rs
  compiler/src/bytecode.rs
  compiler/src/constant_pool.rs
  compiler/src/emit.rs
  compiler/src/emit/identifier.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/jump.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  compiler/src/locals.rs
  vm/CMakeLists.txt
  vm/src/byte_reader.cpp
  vm/src/byte_reader.h
  vm/src/definitions/bytecode_unit.cpp
  vm/src/definitions/bytecode_unit.h
  vm/src/definitions/function_definition.h
  vm/src/definitions/loader.cpp
  vm/src/definitions/loader.h
  vm/src/definitions/pager.cpp
  vm/src/definitions/pager.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/call_stack.cpp
  vm/src/memory/call_stack.h
  vm/src/memory/constant_pool.cpp
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/vm.cpp
Labels: compiler, VM
