Repository moshell-lang/moshell, pull requests merged in 2023-05, with the labels that each got.

#97 Allow any expression in a pipeline
  parser/src/aspects/redirection.rs
  parser/src/parser.rs
  parser/tests/with_lexer.rs
Labels: parser

#99 Merge analyzer/checker and analyzer/system to analyzer module
  Cargo.toml
  analyzer/Cargo.toml
  analyzer/src/engine.rs
  analyzer/src/environment.rs
  analyzer/src/environment/variables.rs
  analyzer/src/importer.rs
  analyzer/src/lib.rs
  analyzer/src/name.rs
  analyzer/src/resolver.rs
  analyzer/src/steps.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/system/Cargo.toml
  analyzer/system/src/lang_types.rs
  analyzer/system/src/lib.rs
  analyzer/system/src/types.rs
  analyzer/system/src/types/class.rs
  analyzer/system/src/types/context.rs
Labels: proposal

#100 Traverse the whole syntax tree for references
  analyzer/src/engine.rs
  analyzer/src/environment.rs
  analyzer/src/environment/variables.rs
  analyzer/src/importer.rs
  analyzer/src/lib.rs
  analyzer/src/resolver.rs
  analyzer/src/steps.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/tests/collect_debug.rs
  analyzer/tests/debug_sample.msh
  ast/src/function.rs
  parser/src/aspects/function_declaration.rs
  parser/tests/with_lexer.rs
Labels: analyzer

#102 Fix cursor usages around variable parsing
  lexer/src/token.rs
  parser/src/aspects/call.rs
  parser/src/aspects/lambda_def.rs
  parser/src/aspects/substitution.rs
  parser/src/aspects/var_declaration.rs
  parser/src/aspects/var_reference.rs
  parser/src/cursor.rs
  parser/src/moves.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/with_lexer.rs
Labels: bugfix, parser

#103 Support variable captures and using imports of parent environements
  analyzer/src/environment.rs
  analyzer/src/environment/variables.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/tests/collect_debug.rs
  analyzer/tests/debug_sample.msh
Labels: analyzer
