Repository moshell-lang/moshell, pull requests merged in 2023-09, with the labels that each got.

#140 Rework operator parsing
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  ast/src/lib.rs
  ast/src/operation.rs
  ast/src/test.rs
  lexer/src/token.rs
  parser/src/aspects/binary_operation.rs
  parser/src/aspects/call.rs
  parser/src/aspects/group.rs
  parser/src/aspects/if_else.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/match.rs
  parser/src/aspects/range.rs
  parser/src/aspects/redirection.rs
  parser/src/aspects/test.rs
  parser/src/aspects/type.rs
  parser/src/moves.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/expr.rs
Labels: parser

#142 Implement reefs on analyzer side
  analyzer/src/diagnostic.rs
  analyzer/src/environment.rs
  analyzer/src/environment/symbols.rs
  analyzer/src/environment/variables.rs
  analyzer/src/imports.rs
  analyzer/src/lib.rs
  analyzer/src/reef.rs
  analyzer/src/relations.rs
  analyzer/src/steps.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/diagnostics.rs
  analyzer/src/steps/resolve/import.rs
  analyzer/src/steps/resolve/symbol.rs
  analyzer/src/steps/shared_diagnostics.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  analyzer/src/types/ty.rs
  analyzer/tests/collect_debug.rs
  cli/lang_tests/flow/closure.msh
  cli/lang_tests/import/foo_consumer.msh
  cli/src/cli.rs
  cli/src/main.rs
  cli/src/pipeline.rs
  cli/src/repl.rs
  compiler/src/emit.rs
  compiler/src/emit/identifier.rs
  compiler/src/emit/invoke.rs
  compiler/src/lib.rs
  compiler/src/type.rs
  parser/src/aspects/call.rs
  vm/benches/exec_benchmark.rs
Labels: analyzer

#144 Parse generic type declarations
  ast/src/function.rs
  ast/src/type.rs
  parser/src/aspects/assign.rs
  parser/src/aspects/call.rs
  parser/src/aspects/expr_list.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/type.rs
  parser/tests/err.rs
Labels: parser

#141 Introduce vectors
  analyzer/src/diagnostic.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/steps/typing/view.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  analyzer/src/types/ty.rs
  cli/lang_tests/flow/str_bytes.msh
  cli/lang_tests/flow/str_split.msh
  cli/src/cli.rs
  cli/src/disassemble.rs
  compiler/src/bytecode.rs
  compiler/src/emit.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  vm/CMakeLists.txt
  vm/benches/exec_benchmark.rs
  vm/src/definitions/function_definition.h
  vm/src/definitions/loader.cpp
  vm/src/definitions/loader.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/constant_pool.cpp
  vm/src/memory/constant_pool.h
  vm/src/memory/object.cpp
  vm/src/memory/object.h
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/memory/strings.cpp
  vm/src/memory/strings.h
  vm/src/stdlib_natives.cpp
  vm/src/stdlib_natives.h
  vm/src/vm.cpp
Labels: analyzer, compiler, VM

#143 Add stdlib reef
  analyzer/src/diagnostic.rs
  analyzer/src/lib.rs
  analyzer/src/reef.rs
  analyzer/src/relations.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/diagnostics.rs
  analyzer/src/steps/resolve/import.rs
  analyzer/src/steps/shared_diagnostics.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  ast/src/function.rs
  cli/Cargo.toml
  cli/lang_tests/run.rs
  cli/src/cli.rs
  cli/src/disassemble.rs
  cli/src/main.rs
  cli/src/pipeline.rs
  cli/src/repl.rs
  cli/src/report.rs
  cli/src/std.rs
  compiler/src/emit.rs
  compiler/src/emit/identifier.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/jump.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  context/src/source.rs
  lib/std.msh
  lib/std/convert.msh
  parser/src/aspects/function_declaration.rs
  parser/tests/err.rs
  vm/benches/exec_benchmark.rs
  vm/src/interpreter.h
  vm/src/stdlib_natives.cpp
Labels: analyzer, parser, compiler

#146 Parse assignations as binary operations
  analyzer/src/diagnostic.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  ast/src/lib.rs
  ast/src/operation.rs
  ast/src/variable.rs
  cli/lang_tests/flow/math.msh
  lexer/src/token.rs
  parser/src/aspects.rs
  parser/src/aspects/assign.rs
  parser/src/aspects/binary_operation.rs
  parser/src/aspects/loop.rs
  parser/src/parser.rs
  parser/tests/expr.rs
  parser/tests/with_lexer.rs
Labels: analyzer, parser

#149 Fix shifted sources ids
  cli/src/cli.rs
  cli/src/main.rs
  cli/src/pipeline.rs
  cli/src/repl.rs
  cli/src/report.rs
  cli/src/std.rs
  compiler/src/emit/invoke.rs
  vm/binding/lib.rs
Labels: bugfix, cli

#145 Parse structs and impl blocks
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing/function.rs
  ast/src/function.rs
  ast/src/lib.rs
  ast/src/struct.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  parser/src/aspects.rs
  parser/src/aspects/call.rs
  parser/src/aspects/expr_list.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/lambda_def.rs
  parser/src/aspects/modules.rs
  parser/src/aspects/struct.rs
  parser/src/aspects/type.rs
  parser/src/parser.rs
  parser/tests/err.rs
  vm/src/stdlib_natives.cpp
Labels: parser

#148 Bootstrap Garbage Collector
  analyzer/src/types/ty.rs
  cli/src/disassemble.rs
  compiler/src/constant_pool.rs
  compiler/src/emit.rs
  compiler/src/lib.rs
  compiler/src/locals.rs
  lib/std.msh
  lib/std/memory.msh
  vm/CMakeLists.txt
  vm/src/definitions/function_definition.h
  vm/src/definitions/loader.cpp
  vm/src/definitions/loader.h
  vm/src/definitions/pager.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/call_stack.cpp
  vm/src/memory/call_stack.h
  vm/src/memory/constant_pool.cpp
  vm/src/memory/constant_pool.h
  vm/src/memory/gc.cpp
  vm/src/memory/gc.h
  vm/src/memory/heap.cpp
  vm/src/memory/heap.h
  vm/src/memory/locals.cpp
  vm/src/memory/locals.h
  vm/src/memory/object.cpp
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/stdlib_natives.cpp
  vm/src/stdlib_natives.h
  vm/src/vm.cpp
Labels: VM

#150 Implement logical and negate operators
  analyzer/src/types/builtin.rs
  cli/lang_tests/flow/logic_operator.msh
  cli/lang_tests/flow/math.msh
  cli/src/disassemble.rs
  compiler/src/bytecode.rs
  compiler/src/emit/native.rs
  vm/src/byte_reader.h
  vm/src/interpreter.cpp
Labels: compiler, VM

#153 Delimit strings in lexer and unescape
  ast/src/match.rs
  lexer/src/delimiter.rs
  lexer/src/lexer.rs
  lexer/src/lib.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  lexer/tests/sample.rs
  parser/src/aspects/if_else.rs
  parser/src/aspects/literal.rs
  parser/src/aspects/match.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/with_lexer.rs
Labels: parser, cli

#156 Introduce an optional type
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/view.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/ty.rs
  cli/lang_tests/flow/option_parse.msh
  compiler/src/emit/native.rs
  lib/std.msh
  lib/std/convert.msh
  vm/src/memory/gc.cpp
  vm/src/stdlib_natives.cpp
Labels: analyzer, compiler, VM

#157 Parse and analyze subscripts
  README.md
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/assign.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/view.rs
  analyzer/src/types/builtin.rs
  ast/src/lib.rs
  ast/src/range.rs
  cli/lang_tests/flow/str_bytes.msh
  cli/lang_tests/flow/str_split.msh
  compiler/src/emit/native.rs
  lexer/src/token.rs
  parser/src/aspects/call.rs
  parser/src/aspects/range.rs
  parser/src/cursor.rs
  parser/src/parser.rs
  parser/tests/with_lexer.rs
  vm/src/stdlib_natives.cpp
Labels: analyzer, parser
