Repository moshell-lang/moshell, pull requests merged in 2023-12, with the labels that each got.

#173 Introduce structured types
  analyzer/src/diagnostic.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/symbol.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/assign.rs
  analyzer/src/steps/typing/bounds.rs
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/magic.rs
  analyzer/src/steps/typing/structure.rs
  analyzer/src/steps/typing/view.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  analyzer/src/types/ty.rs
  cli/src/cli.rs
  cli/src/disassemble.rs
  cli/src/main.rs
  cli/src/repl.rs
  cli/src/std.rs
  compiler/src/bytecode.rs
  compiler/src/context.rs
  compiler/src/emit.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/structure.rs
  compiler/src/externals.rs
  compiler/src/lib.rs
  compiler/src/structure.rs
  parser/src/aspects/struct.rs
  parser/src/moves.rs
  vm/benches/exec_benchmark.rs
  vm/binding/gc.rs
  vm/binding/lib.rs
  vm/binding/value.rs
  vm/src/definitions/function_definition.h
  vm/src/definitions/loader.cpp
  vm/src/definitions/loader.h
  vm/src/definitions/struct_definition.h
  vm/src/interpreter.cpp
  vm/src/memory/gc.cpp
  vm/src/memory/heap.h
  vm/src/stdlib_natives.cpp
  vm/src/vm.cpp
  vm/src/vm.h
  vm/tests/integration/flow.rs
  vm/tests/integration/main.rs
  vm/tests/integration/objects.rs
  vm/tests/integration/runner.rs
Labels: analyzer, VM

#177 Accept paths in expressions
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/structure.rs
  ast/src/lib.rs
  ast/src/use.rs
  ast/src/variable.rs
  parser/src/aspects.rs
  parser/src/aspects/call.rs
  parser/src/aspects/expr_list.rs
  parser/src/aspects/group.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/modules.rs
  parser/src/aspects/type.rs
  parser/src/parser.rs
  parser/tests/integration/expr.rs
  parser/tests/integration/with_lexer.rs
  vm/tests/integration/objects.rs
Labels: parser

#178 Implement for in iterables
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/iterable.rs
  analyzer/src/types.rs
  analyzer/src/types/hir.rs
  analyzer/tests/collect_debug.rs
  compiler/src/emit.rs
  compiler/src/emit/iterable.rs
  compiler/src/emit/jump.rs
  compiler/src/emit/native.rs
  compiler/src/externals.rs
  compiler/src/locals.rs
  lib/std.msh
  vm/binding/value.rs
  vm/src/memory/operand_stack.cpp
  vm/src/stdlib_natives.cpp
  vm/tests/integration/flow.rs
  vm/tests/integration/runner.rs
Labels: analyzer, compiler, VM
