Repository moshell-lang/moshell, pull requests merged in 2023-06, with the labels that each got.

#104 Support qualified symbols resolution
  analyzer/src/diagnostic.rs
  analyzer/src/environment.rs
  analyzer/src/environment/variables.rs
  analyzer/src/imports.rs
  analyzer/src/lib.rs
  analyzer/src/name.rs
  analyzer/src/relations.rs
  analyzer/src/steps.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/diagnostics.rs
  analyzer/src/steps/resolve/import.rs
  analyzer/src/steps/resolve/symbol.rs
  analyzer/src/steps/shared_diagnostics.rs
  analyzer/tests/collect_debug.rs
  ast/src/call.rs
  cli/src/cli.rs
  cli/src/report.rs
  context/src/str_find.rs
Labels: analyzer

#105 Check type coherence
  analyzer/Cargo.toml
  analyzer/src/dependency.rs
  analyzer/src/diagnostic.rs
  analyzer/src/engine.rs
  analyzer/src/environment.rs
  analyzer/src/imports.rs
  analyzer/src/lib.rs
  analyzer/src/relations.rs
  analyzer/src/steps.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/types.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  analyzer/src/types/ty.rs
  cli/examples/module/const.msh
  cli/examples/module/main.msh
  cli/examples/module/math.msh
  cli/src/cli.rs
Labels: analyzer

#106 Redefine end of expressions
  lexer/src/lexer.rs
  lexer/src/token.rs
  lexer/tests/sample.rs
  parser/src/aspects/binary_operation.rs
  parser/src/aspects/call.rs
  parser/src/aspects/expr_list.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/group.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/match.rs
  parser/src/aspects/substitution.rs
  parser/src/moves.rs
  parser/src/parser.rs
Labels: bugfix, parser

#107 Analyzer refactors, encapsulate `Relations`
  analyzer/src/diagnostic.rs
  analyzer/src/engine.rs
  analyzer/src/environment.rs
  analyzer/src/environment/variables.rs
  analyzer/src/imports.rs
  analyzer/src/relations.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/diagnostics.rs
  analyzer/src/steps/resolve/import.rs
  analyzer/src/steps/resolve/symbol.rs
  analyzer/src/steps/shared_diagnostics.rs
  analyzer/src/steps/typing.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  analyzer/src/types/ty.rs
  analyzer/tests/collect_debug.rs
Labels: proposal

#109 Refactor VM, Compiler and Typing state, add jump support to VM and while/loop to compiler
  analyzer/src/diagnostic.rs
  analyzer/src/steps/typing.rs
  analyzer/src/types/hir.rs
  cli/src/cli.rs
  compiler/Cargo.toml
  compiler/src/bytecode.rs
  compiler/src/constant_pool.rs
  compiler/src/emit.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/jump.rs
  compiler/src/lib.rs
  vm/.clang-format
  vm/CMakeLists.txt
  vm/src/conversions.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/main.cpp
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/vm.cpp
  vm/src/vm.h
Labels: analyzer

#116 Deny unquoted words in value expressions
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/typing.rs
  ast/src/value.rs
  compiler/src/emit.rs
  lexer/src/keyword.rs
  lexer/src/lexer.rs
  lexer/src/lib.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  parser/src/aspects/call.rs
  parser/src/aspects/literal.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/match.rs
  parser/src/aspects/redirection.rs
  parser/src/aspects/test.rs
  parser/src/aspects/var_declaration.rs
  parser/src/aspects/var_reference.rs
  parser/tests/err.rs
  parser/tests/expr.rs
Labels: parser

#117 Add comparison instructions to the VM
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  cli/src/cli.rs
  compiler/src/bytecode.rs
  compiler/src/emit/native.rs
  vm/src/interpreter.cpp
  vm/src/main.cpp
  vm/src/vm.cpp
  vm/src/vm.h
Labels: analyzer, compiler

#119 Add references and byte support in bytecode
  analyzer/src/types/ctx.rs
  compiler/src/bytecode.rs
  compiler/src/constant_pool.rs
  compiler/src/emit.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  compiler/src/type.rs
  vm/CMakeLists.txt
  vm/src/byte_reader.cpp
  vm/src/byte_reader.h
  vm/src/conversions.cpp
  vm/src/conversions.h
  vm/src/errors.cpp
  vm/src/errors.h
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/memory/constant_pool.cpp
  vm/src/memory/constant_pool.h
  vm/src/memory/operand_stack.cpp
  vm/src/memory/operand_stack.h
  vm/src/memory/strings.h
  vm/src/pool.cpp
  vm/src/pool.h
  vm/src/vm.cpp
Labels: compiler, VM
