Repository moshell-lang/moshell, pull requests merged in 2023-10, with the labels that each got.

#159 Add generic parameters to functions
  analyzer/src/environment/symbols.rs
  analyzer/src/reef.rs
  analyzer/src/relations.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/assign.rs
  analyzer/src/steps/typing/bounds.rs
  analyzer/src/steps/typing/coercion.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/steps/typing/view.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/ctx.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/ty.rs
  cli/src/cli.rs
  cli/src/disassemble.rs
  compiler/src/bytecode.rs
  compiler/src/emit.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  lib/std.msh
  parser/src/aspects/if_else.rs
  vm/benches/exec_benchmark.rs
  vm/binding/lib.rs
  vm/binding/value.rs
  vm/src/interpreter.cpp
  vm/src/memory/gc.cpp
  vm/src/memory/heap.h
  vm/src/stdlib_natives.cpp
  vm/src/vm.cpp
  vm/src/vm.h
  vm/tests/runner.rs
Labels: analyzer, compiler

#161 Create shell strings and tweak common error messages
  analyzer/src/environment/symbols.rs
  lexer/src/lexer.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  parser/src/aspects/call.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/literal.rs
  parser/src/aspects/modules.rs
  parser/src/aspects/redirection.rs
  parser/src/aspects/type.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/with_lexer.rs
Labels: parser

#162 Fix bounds handling for methods + Vec::pop patch
  analyzer/src/relations.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/assign.rs
  analyzer/src/steps/typing/bounds.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/lower.rs
  analyzer/src/types.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/engine.rs
  analyzer/src/types/hir.rs
  analyzer/src/types/ty.rs
  cli/lang_tests/redir/mutate_before_process.msh
  compiler/src/emit.rs
  compiler/src/emit/invoke.rs
  compiler/src/emit/native.rs
  compiler/src/lib.rs
  vm/src/stdlib_natives.cpp
Labels: bugfix, analyzer

#163 Parse fields access
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  ast/src/lib.rs
  ast/src/struct.rs
  ast/src/variable.rs
  lexer/src/token.rs
  parser/src/aspects/call.rs
  parser/src/aspects/function_declaration.rs
  parser/src/aspects/if_else.rs
  parser/src/aspects/lambda_def.rs
  parser/src/aspects/literal.rs
  parser/src/aspects/loop.rs
  parser/src/aspects/match.rs
  parser/src/aspects/substitution.rs
  parser/src/aspects/test.rs
  parser/src/aspects/var_reference.rs
  parser/src/parser.rs
  parser/tests/err.rs
  parser/tests/expr.rs
  parser/tests/with_lexer.rs
Labels: parser

#165 Make the REPL interactive
  Cargo.lock
  cli/Cargo.toml
  cli/src/complete.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/repl.rs
  cli/src/std.rs
Labels: cli

#168 Add macOS support
  .github/workflows/nightly.yml
  .github/workflows/rust.yml
  setup.sh
  vm/src/byte_reader.cpp
  vm/src/byte_reader.h
  vm/src/conversions.h
  vm/src/definitions/loader.cpp
  vm/src/definitions/loader.h
  vm/src/interpreter.cpp
  vm/src/memory/call_stack.cpp
  vm/src/memory/call_stack.h
  vm/src/vm.cpp
Labels: VM

#164 Add sh-like program arguments access
  analyzer/src/environment/symbols.rs
  analyzer/src/lib.rs
  analyzer/src/steps/collect.rs
  analyzer/src/steps/resolve.rs
  analyzer/src/steps/resolve/symbol.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/exploration.rs
  analyzer/src/steps/typing/function.rs
  analyzer/src/steps/typing/magic.rs
  analyzer/src/types/builtin.rs
  analyzer/src/types/ctx.rs
  cli/src/cli.rs
  cli/src/main.rs
  compiler/src/emit/native.rs
  lexer/src/token.rs
  lib/std/memory.msh
  vm/binding/lib.rs
  vm/src/interpreter.cpp
  vm/src/interpreter.h
  vm/src/main.cpp
  vm/src/stdlib_natives.cpp
  vm/src/vm.cpp
  vm/src/vm.h
Labels: analyzer, compiler, VM

#169 Implement directory related primitives
  analyzer/src/steps/collect.rs
  analyzer/src/steps/typing.rs
  analyzer/src/steps/typing/lower.rs
  ast/src/lib.rs
  ast/src/variable.rs
  cli/lang_tests/flow/change_dir.msh
  lexer/src/lexer.rs
  lexer/src/literal.rs
  lexer/src/token.rs
  lib/std.msh
  parser/src/aspects/literal.rs
  parser/src/parser.rs
  parser/tests/expr.rs
  parser/tests/with_lexer.rs
  vm/src/stdlib_natives.cpp
  vm/tests/flow.rs
Labels: analyzer, parser, VM
